services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /data/docker/traefik/traefik.toml:/traefik.toml
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - web

  nextcloud:
    image: nextcloud:latest
    container_name: nextcloud
    restart: unless-stopped
    depends_on:
      - mariadbone
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cloud.rule=Host(`cloud.mystic.home`)"
      - "traefik.http.services.cloud.loadbalancer.server.port=80"
    expose:
      - "80"
    networks:
      - web
    environment:
      - NEXTCLOUD_ADMIN_USER=mystic
      - NEXTCLOUD_ADMIN_PASSWORD=password
      - NEXTCLOUD_TRUSTED_DOMAINS=cloud.mystic.home
      - MYSQL_DATABASE=home
      - MYSQL_USER=mystic
      - MYSQL_PASSWORD=password
      - MYSQL_HOST=mariadbone
    volumes:
      - /data/docker/nextcloud:/var/www/html

  mariadbone:
    image: mariadb:latest
    container_name: mariadbone
    restart: unless-stopped
    environment:
      - MYSQL_USER=mystic
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=home
      - MYSQL_ROOT_PASSWORD=password
    networks:
      - web
    volumes:
      - /data/docker/mariadbone:/var/lib/mysql

  jenkins:
    image: jenkins/jenkins:latest
    container_name: jenkins
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jenkins.rule=Host(`jenkins.mystic.home`)"
      - "traefik.http.services.jenkins.loadbalancer.server.port=8080"
    expose:
      - "8080"
    ports:
      - "50000:50000"
    networks:
      - web
    volumes:
      - /data/docker/jenkins/:/var/jenkins_home

  confluence:
    image: atlassian/confluence:latest
    container_name: confluence
    restart: unless-stopped
    depends_on:
      - postgresdbone
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.confluence.rule=Host(`confluence.mystic.home`)"
      - "traefik.http.services.confluence.loadbalancer.server.port=8090"
    expose:
      - "8090"
    ports:
      - "8091:8091"
    networks:
      - web
    volumes:
      - /data/docker/confluence/:/var/atlassian/application-data/confluence

  postgresdbone:
    image: postgres:latest
    container_name: postgresdbone
    restart: unless-stopped
    environment:
      - POSTGRES_USER=mystic
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=home
    networks:
      - web
    volumes:
      - /data/docker/postgresdbone:/var/lib/postgresql/data

  jira:
    image: atlassian/jira-software:latest
    container_name: jira
    restart: unless-stopped
    depends_on:
      - postgresdbtwo
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jira.rule=Host(`jira.mystic.home`)"
      - "traefik.http.services.jira.loadbalancer.server.port=8080"
    expose:
      - "8080"
    networks:
      - web
    volumes:
      - /data/docker/jira/:/var/atlassian/application-data/jira

  postgresdbtwo:
    image: postgres:latest
    container_name: postgresdbtwo
    restart: unless-stopped
    environment:
      - POSTGRES_USER=mystic
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=home
    networks:
      - web
    volumes:
      - /data/docker/postgresdbtwo:/var/lib/postgresql/data

  bitbucket:
    image: atlassian/bitbucket:latest
    container_name: bitbucket
    restart: unless-stopped
    depends_on:
      - postgresdbthree
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bitbucket.rule=Host(`bitbucket.mystic.home`)"
      - "traefik.http.services.bitbucket.loadbalancer.server.port=7990"
    expose:
      - "7990"
    ports:
      - "7999:7999"
    networks:
      - web
    volumes:
      - /data/docker/bitbucket/:/var/atlassian/application-data/bitbucket

  postgresdbthree:
    image: postgres:latest
    container_name: postgresdbthree
    restart: unless-stopped
    environment:
      - POSTGRES_USER=mystic
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=home
    networks:
      - web
    volumes:
      - /data/docker/postgresdbthree:/var/lib/postgresql/data

  postgresdbfour:
    image: postgres:latest
    container_name: postgresdbfour
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    pids_limit: 100
    read_only: true
    tmpfs:
      - /tmp
      - /var/run/postgresql
    volumes:
      - /data/docker/postgresdbfour:/var/lib/postgresql/data
    environment:
      # timezone inside container
      - TZ=UTC

      # necessary Postgres options/variables
      - POSTGRES_USER=mystic
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mattermost
    networks:
      - web

  mattermost:
    depends_on:
      - postgresdbfour
    image: mattermost/mattermost-enterprise-edition:latest
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    pids_limit: 200
    read_only: false
    expose:
      - "8065"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mattermost.rule=Host(`chat.mystic.home`)"
      - "traefik.http.routers.mattermost.entrypoints=websecure"
      - "traefik.http.routers.mattermost.tls=true"
      - "traefik.http.routers.mattermost.tls.certresolver=default"
      - "traefik.http.services.mattermost.loadbalancer.server.port=8065"
    tmpfs:
      - /tmp
    volumes:
      - /data/docker/mattermost/config:/mattermost/config:rw
      - /data/docker/mattermost/data:/mattermost/data:rw
      - /data/docker/mattermost/logs:/mattermost/logs:rw
      - /data/docker/mattermost/plugins:/mattermost/plugins:rw
      - /data/docker/mattermost/clientplugins:/mattermost/client/plugins:rw
      - /data/docker/mattermost/bleveindexes:/mattermost/bleve-indexes:rw
      # When you want to use SSO with GitLab, you have to add the cert pki chain of GitLab inside Alpine
      # to avoid Token request failed: certificate signed by unknown authority
      # (link: https://github.com/mattermost/mattermost-server/issues/13059 and https://github.com/mattermost/docker/issues/34)
      # - ${GITLAB_PKI_CHAIN_PATH}:/etc/ssl/certs/pki_chain.pem:ro
    environment:
      # timezone inside container
      - TZ=UTC

      # necessary Mattermost options/variables (see env.example)
      - MM_SQLSETTINGS_DRIVERNAME=postgres
      - MM_SQLSETTINGS_DATASOURCE=postgres://mystic:password@postgresdbfour:5432/mattermost?sslmode=disable&connect_timeout=10

      # necessary for bleve
      - MM_BLEVESETTINGS_INDEXDIR=/mattermost/bleve-indexes

      # additional settings
      - MM_SERVICESETTINGS_SITEURL=http://chat.mystic.home
    networks:
      - web

networks:
  web:
    external: true
